.signout {
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 5vw;
    margin: 0.5vw;
    height: 50px;
    font-size: medium;
}

.signoutcontainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 20vh;
    width: 14vw;
    justify-content: right;
    display: flex;
}

.signout:hover {
    background-color: #333;
    transform: scale(1.01);
    transition: transform 0.2s ease;
}