.login-buttons{
    position: absolute;
    top: 0;
    right: 0;
    height: 20vh;
    width: 14vw;
    justify-content: right;
    display: flex;
}

.login {
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 5vw;
    margin: 0.3vw;
    height: 35px;
    font-size: medium;
    transition: transform 0.2s ease;
}

.login:hover, .register:hover {
  background-color: #333;
  transition: transform 0.2s ease;
}

.register {
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 5vw;
    margin: 0.3vw;;
    height: 35px;
    font-size: medium;
    transition: transform 0.2s ease;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 20vw;
  margin: 0 auto;
  padding: 2vw;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 0.5vw;
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
}

/* Styles for the login and register page containers */
.login-page-container,
.register-page-container {
  text-align: center;
  margin-top: 20px;
  width: 40vw;
  height: 60vh;
  background: black;
  visibility: hidden;
}

.login-page-container.visible,
.register-page-container.visible {
  visibility: visible;
}

h1 {
  color: black;
  padding: 0;
  font-size: large;
}

.exit-button {
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: #f3f3f3;
  padding-top: 4px; 
  padding-bottom: 4px; 
  padding-right: 8px;
  padding-left: 8px;
  margin: 0; 
  border: none;
  border-radius: 0.5vw;
}

.exit-button:hover {
  background-color: lightcoral;
  scale: 1.05;
}

.submit-button {
    color: white;
    border:none;  
    background: #24a0ed;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    user-select: none;
}

.submit-button:hover {
  background: #1b83c3;
  transition: 0.1s ease;
}