.search-container {
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 56%;
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center elements horizontally */
}

.Buttons {
    background-color: transparent;
    border-radius: 10vw;
    border-width: 2vh;
    display: flex;
    padding: 1vh;
  }


.catbut {
    margin: 1vh; /* Set margin for both horizontal and vertical */
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
    padding-right: 30px;
    background-color: #222;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 2vh;
    text-decoration: none;
    height: 30%;
    display: flex;
    text-align: center;
    caret-color: transparent;
    transition: transform 0.3s ease;
    font-family: 'Courier New', Courier, monospace;

    &:hover {
        background-color: #333;
        transform: scale(1.01);
        transition: transform 0.2s ease;
    }
}

    .search-bar {
        width: 100%;
        height: 100%;
        border-radius: 10vw;
        box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
        outline: none;
        padding: 2%;
    }

    .search-container.fade{
        opacity: 0;
        transition: opacity 0.2s ease; /* Adjust the transition duration as needed */
      }

    .search-container.fade-in{
    opacity: 100;
    transition: opacity 0.2s ease; /* Adjust the transition duration as needed */
    }

    .search-bar-form{
        width: 60%;
        height: 30%;
        border-radius: 10vw;
        outline: none;
        font-size: large;
    }